image: ruby:latest

cache:
  paths:
  - vendor/
  - tmp/.htmlproofer

before_script:
  - gem install bundler
  - bundle config set deployment true
  - bundle install --path vendor
  - rake update-releases
  - rake update-apps
  - rake back-to-stock

pages:
  stage: deploy
  script:
  - bundle exec jekyll build -d public --baseUrl "/calyxos.org"
  artifacts:
    paths:
    - public
  only:
  - dev

test:
  stage: test
  script:
  - bundle exec jekyll build -d test
  - bundle exec rake check DIR=./test
  - bundle exec rake check-external DIR=./test
  artifacts:
    paths:
    - test
  except:
  - dev
