stages:
  - test
  - deploy
  - registry

.ruby:
  image: ruby:3.3.9
  before_script:
    - bundle config set deployment true
    - bundle config set --local path vendor
    - bundle install
  cache:
    paths:
      - vendor/

test:
  stage: test
  extends: .ruby
  when: manual
  script:
    - bundle exec jekyll build --future --trace
    - bundle exec rake check
  only:
    - main

test-external:
  stage: test
  extends: .ruby
  when: manual
  script:
    - bundle exec jekyll build --future --trace
    - bundle exec rake check-external
  only:
    - main

pages:
  stage: deploy
  extends: .ruby
  script:
    - bundle exec rake update-releases
    - bundle exec rake update-apps
    - bundle exec rake generate-data-pages
    - bundle exec jekyll build -d public --future --baseUrl "/calyxos.org"
  artifacts:
    paths:
    - public
  only:
    - main

build:
  image: docker:28
  stage: registry
  services:
    - name: docker:28-dind
      alias: docker
  variables:
    IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  only:
    - main
