stages:
  - docker
  - pages

.ruby:
  image: ruby:3.3.10
  before_script:
    - bundle config set deployment true
    - bundle config set --local path vendor
    - bundle install
  cache:
    paths:
      - vendor/

pages:
  stage: pages
  extends: .ruby
  script:
    # - bundle exec rake update-releases
    # - bundle exec rake update-apps
    # - bundle exec rake generate-data-pages
    - bundle exec jekyll build -d public --future --baseUrl "/calyxos.org"
  artifacts:
    paths:
    - public
  only:
    - main

build:
  image: docker:29
  stage: docker
  services:
    - name: docker:29-dind
      alias: docker
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA" .
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHA"
  only:
    - main
