<div class="alert alert-info" markdown="0" style="margin-top: 3rem">
  <strong>Warning</strong>
  The Android 13 update for Pixel 6, Pixel 6 Pro, and the Pixel 6a contains a bootloader update that increments the anti-roll back version. After flashing an Android 13 build on these devices you will not be able to install CalyxOS until our Android 13 update is released.
  <p></p>
  Please keep this in mind if you have a Pixel 6, 6 Pro or 6a. If you update to 13 at all, either on the stock OS or a custom ROM you should stick to it and avoid trying to downgrade. Doing so will brick your device, rendering it non functional.
</div>
