<div class="alert alert-info" markdown="0" style="margin-top: 3rem">
<ul>
  <li>
    <strong>Over-the-air(OTA) Updates:</strong>
    Starting from CalyxOS 7.2.2.0, [[CalyxOS updates => updates]] resume automatically over the air. No manual install of updates needed. However, if you would like to manually update your CalyxOS device, see our [[OTA installation instructions => ota-install]].
  </li>
  <li>
    <strong>Security Updates for Pixel devices:</strong>
    The <strong>Pixel 9a, 9 Pro Fold, 9 Pro XL, 9 Pro, 9, 8a, 8 Pro, 8, Fold, Tablet, 7a, 7 Pro, 7, 6a, 6 Pro, and 6 </strong>stock OSes follow a monthly release schedule in direct alignment with the AOSP security bulletin. However, Google has stopped publishing the source code for AOSP QPR1 and QPR3 releases. As a result, CalyxOS is not able to timely include updates of the proprietary components, such as the bootloader, modem, and vendor firmware, for versions based on those specific QPR branches. The CalyxOS releases for the above models only contain the latest fixes to the open-source components, such as the operating system and the Linux kernel. Proprietary components get updates as soon as the corresponding AOSP source code becomes available.
  </li>
  <li>
    <strong>Security Updates for non-Pixel devices:</strong>
    The <strong>Fairphone 5, 4, Motorola moto g 5G 2024, moto g84 5G, moto g34 / g45 5G, and SHIFTphone 8</strong> stock OSes follow a different security update release schedule, which is usually behind  AOSP updates by a month or two. The CalyxOS releases for these devices only contain the latest fixes to the open-source components. Proprietary components get updates as soon as the stock OS update becomes available.
  </li>
  <li>
    <strong>End-of-life:</strong>
    The <strong>Motorola moto g52, moto g42, moto g32, Pixel 5a (5G), 4a (5G), and 5</strong> are no longer being updated by the manufacturer, the CalyxOS updates for these devices only contain the fixes to the open-source components. Proprietary components no longer get updated.
  </li>
</ul>
</div>
