
//
// markup:
//
// .wrapper.sidebar
//   .navside
//   .content.primaryContent
//

.wrapper {
  &.sidebar-spacing {
    max-width: calc(var(--grid-max-width) + var(--grid-sidebar-width));
  }
  &.sidebar {
    max-width: calc(var(--grid-max-width) + var(--grid-sidebar-width));
    display: flex;
    .content {
      flex-grow: 1;
    }
    .navside {
      min-width: calc(var(--grid-sidebar-width) - var(--spacing-medium));
      margin-right: var(--spacing-medium);
    }
  }
}

@media only screen and (max-width: 870px) {
  .wrapper.sidebar {
    flex-wrap: wrap;
  }
}

.navside {
  ul {
    margin-left: 0;
    padding: 0;
  }
  li.nav-item {
    list-style: none;
    margin: 0;
    padding: 0;
    &.nav-level-0 a {}
    &.nav-level-1 a {padding-left: 1.5rem;}
    &.nav-level-2 a {padding-left: 3rem;}
    &.nav-level-3 a {padding-left: 4.5rem;}
    &.nav-level-4 a {padding-left: 6rem;}
    a {
      display: block;
      padding: 4px 8px;
      text-decoration: none;
      color: var(--font-color-light);
      overflow-wrap: anywhere;
      &:hover {
        text-decoration: underline;
      }
      &.active {
        color: black;
        font-weight: bold;
        background-color: var(--calyx-light);
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .navside li.nav-item a {color: var(--font-color-dark)}
}