<section id="#" class="content centeredContent contentRow tertiaryContent wrapper">
  <h3>Step 2: Download the flasher</h3>
    <div class="contentRowContent">
        <div class="contentItem blockContent">
            <div class="description">
                <div class="icon apple"></div>
                <h3>Mac</h3>
                <a class="btn" href="https://release.calyxinstitute.org/device-flasher/1.0.3/device-flasher.darwin">Download</a>
        <p class="meta">SHA256: 5e5542f51c1592e392114636f2e64fe9dae1cacaaf55c722822780ec5cbf9331</p>

            </div>
        </div>
        <div class="contentItem blockContent">
      <div class="description">
                <div class="icon linux"></div>
                <h3>Linux</h3>
                <a class="btn" href="https://release.calyxinstitute.org/device-flasher/1.0.3/device-flasher.linux">Download</a>
        <p class="meta">SHA256: f4e68992198868148ca2d4bd0fd40d0176da4058a188a3fdf80732d04a6c3543</p>
            </div>
        </div>
    <div class="contentItem blockContent">
      <div class="description">
                <div class="icon windows"></div>
                <h3>Windows</h3>
                <a class="btn" href="https://release.calyxinstitute.org/device-flasher/1.0.3/device-flasher.exe">Download</a>
        <p class="meta">SHA256: 0cdaf47f1c97e43c70e0fe7cfff63fcaa140799ccc494bebf6451e96cbcdda6c</p>
            </div>
        </div>
    </div>
</section>