<h2>Private by Design</h2>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Speak Freely</h3>
    <p>📧 OpenPGP encrypted email support using hardware tokens is built in using OpenKeychain and <a href="#">K-9</a> Email client</p>
    <p>💬 Speak freely with <a href="https://signal.org" rel="noopener noreferrer nofollow" target="_blank">Signal</a> and <a href="https://whatsapp.com" rel="noopener noreferrer nofollow" target="_blank">WhatsApp</a> video, calling, and texting.</p>
    <p>📞 eSim support and dual-sim support, where supported by the hardware.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/communication.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Browse without Censorship</h3>
    <p>🦆 <a href="https://f-droid.org/en/packages/com.duckduckgo.mobile.android/" rel="noopener noreferrer nofollow" target="_blank">DuckDuckGo Browser</a> is the default web browser and search engine, which blocks ads and trackers.</p>
    <p>🥸 Use <a href="https://play.google.com/store/apps/details?id=org.torproject.torbrowser&hl=en_US&gl=US" rel="noopener noreferrer nofollow" target="_blank">Tor Browser</a> to browse the internet without being tracked.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/internet.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Your Favorite Apps</h3>
    <p>🎁 Get trusted recommendations of apps to cover every part of your life.</p>
    <p>🛍 Use the <a href="https://f-droid.org/" rel="noopener noreferrer nofollow" target="_blank">F-Droid</a> and <a href="https://f-droid.org/en/packages/com.aurora.store/" rel="noopener noreferrer nofollow" target="_blank">Aurora</a> stores to install from the Google Play catalog anonymously.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/app-store.png" | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Secure Backup</h3>
    <p>⏰ Automatic backups so you never lose a file.</p>
    <p>☁️ Backup your files to <a href="https://nextcloud.com/" rel="noopener noreferrer nofollow" target="_blank">Nextcloud</a>, a USB drive, or to local storage.</p>
    <p>🔐 Client-side encryption protects all of yoyur backed-up data.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/backup.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Strong Authentication</h3>
    <p>🔑 Yubikey two-factor authentication support.</p>
    <p>🔐 Securely manage your encryption keys with <a href="https://f-droid.org/en/packages/org.sufficientlysecure.keychain/" rel="noopener noreferrer nofollow" target="_blank">OpenKeychain</a>.</p>
    <p>🙈 Scramble lockscreen PIN</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/auth.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Secure Networking</h3>
    <p>🤝 Tethered network devices (USB or Wifi) can use the phone's VPN or Tor.</p>
    <p>🚦 Datura Firewall lets you control network access for all of your apps.</p>
    <p>🌎 Cloudflare DNS is available as the default Private DNS provider.</p>
    <p>🥸 Free and trusted VPNs from <a href="https://f-droid.org/en/packages/org.calyxinstitute.vpn/" rel="noopener noreferrer nofollow" target="_blank">The Calyx Institute</a> and <a href="https://f-droid.org/en/packages/se.leap.riseupvpn/" rel="noopener noreferrer nofollow" target="_blank">Riseup</a>.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/network.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Device Security</h3>
    <p>🛑 Block unknown USB devices.</p>
    <p>📆 Automatic monthly over-the-air security updates.</p>
    <p>⏲ Disable Wifi and bluetooth when not being used.</p>
    <p>🔐 Verified Boot ensures that the operating system has not been modified.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/device-security.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Trusted Agent</h3>
    <p>🚨 Panic button functionality lets a user uninstall apps, remove work profile, or factory reset in an emergency.</p>
    <p>🤫 Sensitive Numbers privacy. Calls to numbers for help lines such as domestic violence, child abuse, suicide hotlines are not recorded in the call log.</p>
    <p>📇 Access these numbers in the Helplines contact entry.</p>
    <p>⚙️ Privacy settings lets you see what apps are requesting which permissions</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/agent.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Private Dialer</h3>
    <p>💡 Learn about the privacy impacts of different channels of communication.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/dialer.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Limitless Functionality</h3>
    <p>✌️ <a href="https://microg.org/" target="_blank" rel="noreferrer nooopener">microG</a> replaces some functions of Google Play Services while maintaining much more anonymity and privacy. Optional.</p>
    <p>🗺️ <a href="https://location.services.mozilla.com/" target="_blank" rel="noreferrer nooopener">Mozilla Location Services</a> (and Dejavu) available as default location services.</p>
    <p>📍 <a href="https://nominatim.org/" target="_blank" rel="noreferrer nooopener">Nominatim</a> available as default geocoding service.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/location.png' | relative_url }}" alt="#">
  </div>
</div>
