<section class="feature row">
  <div class="col-md-6">
    <h2>Goodbye, Google</h2>
    <p>Your data won't be put into the Google Cloud, and your location won't  shared.</p>
    <a class="more" href="#">Learn More</a>
  </div>
  <div class="col-md-6 md-collapse-top-spacer">
    <img class="img-fluid" src="{{ '/assets/images/bye-google.svg' | relative_url }}" alt="#">
  </div>
</section>

<section class="feature row">
  <div class="col-md-6">
    <img class="img-fluid" src="{{ '/assets/images/comms-apps.svg' | relative_url }}" alt="#">
  </div>
  <div class="col-md-6 md-collapse-top-spacer">
    <h2>Safe Communication</h2>
    <p>We include the best secure communications apps so notext can listen in.</p>
    <a class="more" href="#">Learn More</a>
  </div>
</section>

<section class="feature row">
  <div class="col-md-6">
    <h2>Private Browsing</h2>
    <p>Use Tor Browser, Calyx VPN, and DuckDuckGo to keep yourself private online.</p>
    <a class="more" href="#">Learn More</a>
  </div>
  <div class="col-md-6 md-collapse-top-spacer">
    <img class="img-fluid" src="{{ '/assets/images/placeholder.svg' | relative_url }}" alt="#">
  </div>
</section>

<section class="feature row">
  <div class="col-md-6">
    <img class="img-fluid" src="{{ '/assets/images/placeholder.svg' | relative_url }}" alt="#">
  </div>
  <div class="col-md-6 md-collapse-top-spacer">
    <h2>Regular Updates</h2>
    <p>Our team keeps CalyxOS up-to-date so you're always protected.</p>
    <a class="more" href="#">Learn More</a>
  </div>
</section>

<section class="feature">
  <h1>Learn More</h1>
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="{{ '/assets/images/placeholder.svg' | relative_url }}" alt="#">
      <h2 class="mt-2"><a href="#">Download CalyxOS</a></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="col-md-6 md-collapse-top-spacer">
      <img class="img-fluid" src="{{ '/assets/images/placeholder.svg' | relative_url }}" alt="#">
      <h2 class="mt-2"><a href="#">About CalyxOS</a></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</section>

<section class="feature">
  <h1>In The News</h1>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/heVNcdq2MKA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
