<header>
  <a href="#navigation" class="assistiveText">Skip to Navigation</a>
  <a href="#content" class="assistiveText">Skip to Main Content</a>
  <div class="wrapper">
    <div class="logoMark emptyLogo"></div>
    <h1 class="logo"><a class="navbar-brand" href="{{ '/' | relative_url }}">CalyxOS</a></h1>
    <nav class="navbar navbar-expand-sm">
      <input type="checkbox" class="toggle" id="navbar-visible"></input>
      <ul class="navbar-nav">
        {% top_navigation_menu nav-item nav-link active %}
        <li><a role="button" class="btn primaryBtn" href="{{ '/get' | relative_url }}">Get CalyxOS</a></li>
      </ul>
      <label class="toggle navbar-toggle" for="navbar-visible"></label>
    </nav>
  </div>
</header>
