<header>{% if show_banner %}
  <div class="multirow-header">{% endif %}
  <div class="wrapper">
    <div class="logoMark emptyLogo"></div>
    <h1 class="logo"><a class="navbar-brand" href="{{ '/' | relative_url }}">CalyxOS</a></h1>
    <label class="clickable toggle search-toggle" for="search-checkbox" tabindex="0" role="button" aria-label="search"><i class="icon search"></i></label>
    <div class="search">
      <input type="checkbox" class="toggle modal-state" id="search-checkbox"></input>
      <div id="search" class="modal" style="">
        <label class="clickable toggle search-toggle" for="search-checkbox" title="close" tabindex="0" role="button"><i class="big icon close"></i></label>
        <form action="{{ '/search' | relative_url }}" id="searchform" name="searchform">
          <input type="search" name="q" autofocus="autofocus" placeholder="">
          <button type="submit">
            <i class="icon headerSearch"></i> Search
          </button>
        </form>
      </div>
    </div>
    <nav class="navbar">
      <input type="checkbox" class="toggle" id="navbar-visible"></input>
      <ul class="navbar-nav">
        {% top_navigation_menu li:nav-item a:nav-link active:active %}
        <li><a role="button" class="btn primaryBtn" href="{{ '/install' | relative_url }}">Get CalyxOS</a></li>
      </ul>
      <label class="clickable toggle navbar-toggle" for="navbar-visible" role="button" aria-label="navigation"></label>
    </nav>
  </div>{% if show_banner %}

  {% comment %}<!-- Banner styling in pages/_sass/_elements.scss -->{% endcomment %}
  <div class="multirow-header-break"></div>

  {% if show_banner_close_button != false %}
  <input type="checkbox" class="toggle" id="banner-checkbox" autocomplete="off"></input>
  {% endif %}
  ⁨<div id="banner" class="banner">
    <div class="banner-outer">
      <div class="banner-inner">
        <a href="{{ banner_url }}" style="text-decoration: none;">
          <div class="banner-text">
            {{ banner_text }}
          </div>
        </a>
      </div>
      {% if show_banner_close_button != false %}
      <div class="banner-close-button">
        <label class="clickable toggle" for="banner-checkbox" title="close" tabindex="0" role="button"><i class="big icon close-no-hide"></i></label>
      </div>
      {% endif %}
    </div>
  </div>
  </div>
{% if banner_margin != "0" %}
  <style>
    main {
      margin-top: {{ banner_margin | default: "150px" }};
    }
  </style>
{% endif %}{% endif %}
</header>
