<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  {% if page.css %}<link rel="stylesheet" type="text/css" href="{{ page.css }}">{% endif %}
  {% if page.description -%}
  <meta name="description" content="{{ page.description }}" />
  {% else -%}
  <meta name="description" content="{{ page.title }}" />
  {% endif -%}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>
  {% if page.url == "/search/" %}
  <script src="{{ '/assets/js/vendor/minisearch-6.0.1.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/search.js' | relative_url }}" defer></script>
  {% endif  %}
  {% include_cached favicons.html %}
</head>
