<div class="alert alert-info" markdown="0" style="margin-top: 3rem; border-color:#EE4266">
<strong>⚠️ Warning</strong>
<p></p>
These releases <strong>will not receive security updates</strong> and should be used with caution. We have decided to make them available again as a result of community feedback.
<strong>This is not a recommendation to install CalyxOS at this time.</strong>

Please see the <a href="/news/2025/08/01/a-letter-to-our-community/">letter to our community</a> for more information.
</div>
<p></p>
