<section class="content contentRow secondaryContent wrapper">
  <h2>Learn More</h2>
  <div class="contentRowContent">
    <div class="contentItem blockContent">
      <div class="featureImage">
        <img src="{{ '/assets/images/download.png' | relative_url }}" alt="#">
      </div>
      <div class="description">
        <h3>Install CalyxOS</h3>
        <p>Ready to make the move? Let's go 🎉</p>
        <a href="install">Install CalyxOS</a>
      </div>
    </div>
    <div class="contentItem blockContent">
      <div class="featureImage">
        <img src="{{ '/assets/images/about.png' | relative_url }}" alt="#">
      </div>
      <div class="description">
        <h3>About CalyxOS</h3>
        <p>Why did we create CalyxOS?</p>
        <a href="about">Learn More</a>
      </div>
    </div>
  </div>
</section>
