<section class="shade feature">
  <div class="row">
    <div class="col join">
      <h3>Become a Member</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="mt-3">
        <a class="btn btn-outline-secondary" href="https://calyxinstitute.org">Join Calyx</a>
        <a class="btn btn-outline-secondary" href="https://calyxinstitute.org/about">{{ site.data.strings.about-us }}</a>
      </div>
    </div>
  </div>
</section>
