<section class="content contentRow secondaryContent centeredContent wrapper">
  <h2>Learn More</h2>
  <div class="contentRowContent">
    <div class="contentItem blockContent">
      <div class="featureImage small">
        <img src="{{ '/assets/images/undraw-download.svg' | relative_url }}" alt="#">
      </div>
      <div class="description">
        <h3>Get Started With CalyxOS</h3>
        <p>Ready to make the move? Let's go 🎉</p>
        <a class="btn" href="{{ '/install' | relative_url }}">Get CalyxOS</a>
      </div>
    </div>
    <div class="contentItem blockContent">
      <div class="featureImage small">
        <img src="{{ '/assets/images/undraw-heart.svg' | relative_url }}" alt="#">
      </div>
      <div class="description">
        <h3>About CalyxOS</h3>
        <p>Why did we create CalyxOS?</p>
        <a class="btn" href="{{ '/docs/about' | relative_url }}">Learn More</a>
      </div>
    </div>
  </div>
</section>
