<section class="content wrapper">
  <p class="emoji">👩‍🔬</p>
  <h2>Recent Research</h2>
  <div class="contentItem noImage">
  	<div class="description">
  		<h3>User Personas</h3>
  		<p class="meta"><a href="https://www.linkedin.com/in/mayagninova/" rel="noopener noreferrer nofollow" target="_blank">Maya Ninova, PhD</a>, 2021</p>
  		<p>We recently conducted a diary study and a set of user interviews and synthesized a baseline understanding of who our users are. Download the research report!</p>
  		<a class="btn" href="../assets/docs/user-research/personas/calyxos-user-personas-2021.pdf">Download PDF</a>
  	</div>
  </div>
</section>
