<h2>CalyxOS Features</h2>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Own Your Conversations</h3>
    <p>💬 Call, text, or video chat privately with <a href="https://www.signal.org" rel="noopener noreferrer nofollow" target="_blank">Signal</a>.</p>
    <p>🔐 Encrypted communication is prioritized and encouraged in the OS.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/communication.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description flip">
    <h3>Access the World's Information</h3>
    <p>🌎 Browse the internet without censorship using <a href="https://www.torproject.org/download/#android" rel="noopener noreferrer nofollow" target="_blank">Tor Browser</a>.</p>
    <p>🔑 Free and trusted VPNs from <a href="https://f-droid.org/en/packages/org.calyxinstitute.vpn/" rel="noopener noreferrer nofollow" target="_blank">The Calyx Institute</a> and <a href="https://f-droid.org/en/packages/se.leap.riseupvpn/" rel="noopener noreferrer nofollow" target="_blank">Riseup</a> included.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/internet.png' | relative_url }}" alt="#">
  </div>
</div>
<div class="contentItem mobileItem standardItem">
  <div class="description">
    <h3>Download Your Favorite Apps</h3>
    <p>📲 Download all of your favorite apps from <a href="https://f-droid.org/" rel="noopener noreferrer nofollow" target="_blank">F-Droid</a> and <a href="https://f-droid.org/en/packages/com.aurora.store/" rel="noopener noreferrer nofollow" target="_blank">Aurora Store</a>.</p>
    <p>✌️ <a href="{{ '/features/microg' | relative_url }}">microG</a> replaces some functions of Google Play Services while maintaining much more anonymity and privacy. Completely Optional.</p>
  </div>
  <div class="featureImage mobileImage">
    <img src="{{ '/assets/images/device/feature/app-store.png' | relative_url }}" alt="#">
  </div>
</div>
