<section class="content callout">
  <div class="contentItem centeredContent blockContent">
    <div class="description">
      <div class="icon calyx"></div>
      <h3>Become a Member</h3>
      <p>CalyxOS is brought to you by Calyx Institute, a 501(c)(3) non-profit dedicated to making privacy and security available for all.</p>
      <p>By becoming a member of Calyx Institute, you will support the development of CalyxOS.</p>
      <a role="button" class="btn" href="https://calyxinstitute.org/membership" rel="noopener noreferrer nofollow" target="_blank">Join Now</a>
    </div>
  </div>
</section>
