<h2>Devices</h2>
<table>
{% if site.data.devices.upcoming_codenames.size > 0 %}
<td colspan="2"><h4>Upcoming</h4></td>
{% for brand in site.data.devices.upcoming_brands %}
<tr>
<td><b>{{ brand | capitalize }}</b></td>
<td style="line-height: 2em">
{%   for device in site.data.devices.upcoming_codenames %}
{%     if site.data.devices[device].brand == brand %}
{%       if site.data.devices[device].link != nil %}
<a style="white-space: nowrap; margin-right: 1em" href="{{site.data.devices[device].link }}">{{site.data.devices[device].model}}</a>
{%       else %}
<a style="white-space: nowrap; margin-right: 1em" href="docs/guide/device-support">{{site.data.devices[device].model}}</a>
{%       endif %}
{%     endif %}
{%   endfor %}
</td>
</tr>
{% endfor %}
{% endif %}
<td colspan="2"><h4>Modern</h4></td>
{% for brand in site.data.devices.modern_brands %}
<tr>
<td><b>{{ brand | capitalize }}</b></td>
<td style="line-height: 2em">
{%   for device in site.data.devices.modern_codenames %}
{%     if site.data.devices[device].brand == brand %}
{%       if site.data.devices[device].link != nil %}
{%         assign link = site.data.devices[device].link %}
{%       else %}
{%         assign release = site.data.downloads["factory"] | where: "codename", device | first %}
{%         if release.antirollback_update_pending %}
{%           assign link = site.data.downloads["antirollback_update_pending_link"] %}
{%         else %}
{%           capture link %}install/devices/{{device}}{% endcapture %}
{%         endif %}
{%       endif %}
<a style="white-space: nowrap; margin-right: 1em" href="{{link}}">{{site.data.devices[device].model}}</a>
{%     endif %}
{%   endfor %}
</td>
</tr>
{% endfor %}
<td colspan="2"><h4>Extended support</h4></td>
{% for brand in site.data.devices.extended_brands %}
<tr>
<td><b>{{ brand | capitalize }}</b></td>
<td style="line-height: 2em">
{%   for device in site.data.devices.extended_codenames %}
{%     if site.data.devices[device].brand == brand %}
{%       if site.data.devices[device].link != nil %}
{%         assign link = site.data.devices[device].link %}
{%       else %}
{%         assign release = site.data.downloads["factory"] | where: "codename", device | first %}
{%         if release.antirollback_update_pending %}
{%           assign link = site.data.downloads["antirollback_update_pending_link"] %}
{%         else %}
{%           capture link %}install/devices/{{device}}{% endcapture %}
{%         endif %}
{%       endif %}
<a style="white-space: nowrap; margin-right: 1em" href="{{link}}">{{site.data.devices[device].model}}</a>
{%     endif %}
{%   endfor %}
</td>
</tr>
{% endfor %}
<td colspan="2"><h4>No longer supported</h4></td>
{% for brand in site.data.devices.previous_brands %}
<tr>
<td><b>{{ brand | capitalize }}</b></td>
<td style="line-height: 2em">
{%   for device in site.data.devices.previous_codenames %}
{%     if site.data.devices[device].brand == brand %}
{%       if site.data.devices[device].link != nil %}
{%         assign link = site.data.devices[device].link %}
{%       else %}
{%         capture link %}docs/guide/device-support{% endcapture %}
{%       endif %}
<a style="white-space: nowrap; margin-right: 1em" href="{{link}}">{{site.data.devices[device].model}}</a>
{%     endif %}
{%   endfor %}
</td>
</tr>
{% endfor %}
</table>
