---
# This ensures Jekyll reads the file to be transformed into CSS later.
# Only main.scss files contain this front matter, not partials.
# All other SASS & CSS is in the `pages/_sass` directory
---

:root {
  --icon-search-url: url({{'/assets/images/icons/search.svg' | relative_url}});
  --icon-close-url: url({{'/assets/images/icons/close.svg' | relative_url}});
  --icon-ddg-url: url({{'/assets/images/logos/duckduckgo.svg' | relative_url}});
}

@import "variables.scss";
@import "design-system/css/style.scss";
@import "design-system/components/header/css/header-no-js";
@import "override.scss";
@import "navigation.scss";
@import "utility.scss";
@import "branding.scss";
@import "highlighter.scss";
@import "elements.scss";
@import "footer.scss";
