<!DOCTYPE html>
<html lang="{% html_lang %}" dir="{% html_dir %}">
{% include head.html %}
  <body>
    {% include header.html %}
    <main id="content">
      {% include front_intro.html %}
      {% include mission.html %}
      <section class="content primaryContent wrapper">
        {% include supported_devices.html %}
        {% include spotlight-features.html %}
      </section>
      {% include learn_more.html %}
      {% include research.html %}
      {% include news.html %}
      {% include join.html %}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
