<!DOCTYPE html>
<html lang="{% html_lang %}" dir="{% html_dir %}">
{% include head.html %}
  <body>
    {% include header.html %}
    <main id="content">
      {% include home/front_intro.html %}
      {% include home/mission.html %}
      <section class="content primaryContent wrapper">
        {% include home/supported_devices.html %}
        {% include home/spotlight_features.html %}
      </section>
      {% include home/learn_more.html %}
      {% include home/research.html %}
      {% include home/news.html %}
      {% include home/join.html %}
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
