<!DOCTYPE html>
<html lang="{% html_lang %}" dir="{% html_dir %}">
{% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <section class="secondaryIntro">
        <div class="wrapper">
          <h1><span class="highlighter">{{ page.title }}</span></h1>
          {% if page.description %}<p>{{ page.description }}</p>{% endif %}
        </div>
      </section>
      <section class="content primaryContent wrapper">
        {% include toc.html %}
        {% include content.html %}
      </section>
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
