<!DOCTYPE html>
<html lang="{% html_lang %}" dir="{% html_dir %}">
{% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <section class="intro secondaryIntro">
              <div class="wrapper">
                  <h1><span class="highlight">{{ page.title }}</span></h1>
          {% if page.description %}<p>{{ page.description }}</p>{% endif %}
              </div>
          </section>
      {% if page.toc %}
      <section class="content primaryContent wrapper">
          {% if page.toc_title %}
          <h4>{{ page.toc_title }}</h4>
          {% else %}
          <h4>Table of contents</h4>
          {% endif %}
          {{ content | toc_only }}
      </section>
      {% endif %}
      <section class="content primaryContent wrapper">
              {{ content | auto_link | wiki_link }}
          </section>
    </main>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
