<section class="content centeredContent exampleContent wrapper">
	<h2>In The Wild</h2>
	<div class="contentItem blockContent">
		<div class="description">
			<p class="emoji">🧅</p>
			<h3>OnionShare</h3>
			<p>OnionShare is an open source tool that lets you securely and anonymously share files, host websites, and chat with friends using the Tor network.</p>
			<a href="https://onionshare.org" rel="noopener noreferrer nofollow" target="_blank">View Site</a>
		</div>
		<div class="featureImage">
			<img src="assets/examples/onionshare.png" alt="OnionShare Homepage">
		</div>
	</div>
	<div class="contentItem blockContent">
		<div class="description">
			<p class="emoji">🔐</p>
			<h3>Normal Security</h3>
			<p>Easy ways to secure your digital life.</p>
			<a href="https://normalsecurity.com" rel="noopener noreferrer nofollow" target="_blank">View Site</a>
		</div>
		<div class="featureImage">
			<img src="assets/examples/normal-security.png" alt="Normal Security Homepage">
		</div>
	</div>
</section>
